<!DOCTYPE html>
<html>
  <head>
    <title>You may now close the window</title>
    <script>

      // Save the token info as a cookie
      const sender = "<%- sender %>";
      const response = <%- JSON.stringify(response) %>;
      const expiry = new Date(new Date().getTime() * 3600000).toUTCString();
      const cookieEnding = `;expires=${expiry};path=/`;
      if (sender == "discord") {

        document.cookie = `discord_access_token=${response.access_token}${cookieEnding}`;
        document.cookie = `discord_expires_in=${response.expires_in}${cookieEnding}`;
        document.cookie = `discord_refresh_token=${response.refresh_token}${cookieEnding}`;
        document.cookie = `discord_token_type=${response.token_type}${cookieEnding}`;

      } else {

        document.cookie = `twitter_access_token=${response.accessToken}${cookieEnding}`;
        document.cookie = `twitter_access_secret=${response.accessSecret}${cookieEnding}`;

      }

      // Try to close the window
      window.close();

    </script>
  </head>
  <body>
    You may now close the window...or tab, I'm not sure lol
  </body>
</html>