<!DOCTYPE html>
<html>
  <head>
    <script>
      const authLink = <%- JSON.stringify(twitterAuthLink) %>;
      let authorizedGuilds;
      function authorize(service) {
        const loginWindow = window.open(service == 0 ? "https://discord.com/oauth2/authorize?client_id=452818283863736345&redirect_uri=http%3A%2F%2F127.0.0.1%3A3000%2Fauth%2Fdiscord&response_type=code&scope=identify%20guilds" : authLink.url);
        const timer = setInterval(async function() {

          if (loginWindow.closed) {

            // Stop the timer
            clearInterval(timer);
            
            // Check if we're authorized
            // https://stackoverflow.com/a/21125098
            function getCookie(name) {

              const match = document.cookie.match(new RegExp(`(^| )${name}=([^;]+)`));
              if (match) return match[2];

            }
            const access_token = getCookie(service === 0 ? "discord_access_token" : "twitter_access_token");
            if (access_token) {

              if (service === 0) {

                // Get the guilds we can manage
                const response = await fetch("/api/get-managable-guilds", {headers: {token: access_token}});
                authorizedGuilds = await response.json();

              } else {

                // Add the guilds to the list
                const serverListDiv = document.getElementById("server-list");
                let serverChosen = false;
                for (let x = 0; authorizedGuilds.length > x; x++) {

                  // Create the button
                  const guildButton = document.createElement("button");
                  guildButton.onclick = async () => {

                    // Make sure we don't press anything while the server's processing
                    if (serverChosen) return;
                    serverChosen = true;

                    // Associate the access keys with the server
                    await fetch(`/api/set-twitter-auth?guild_id=${authorizedGuilds[x].id}`, {
                      method: "POST",
                      headers: {
                        discord_token: getCookie("discord_access_token"),
                        access_token: access_token,
                        access_secret: getCookie("twitter_access_secret")
                      }
                    });

                  }

                  // Add the image to the button
                  const guildImage = document.createElement("img");
                  guildImage.src = `https://cdn.discordapp.com/icons/${authorizedGuilds[x].id}/${authorizedGuilds[x].icon}.png`;
                  guildButton.appendChild(guildImage);

                  // Add the name to the button
                  const guildNameDiv = document.createElement("div");
                  const guildNameNode = document.createTextNode(authorizedGuilds[x].name);
                  guildNameDiv.appendChild(guildNameNode);
                  guildButton.appendChild(guildNameDiv);

                  // Add the button to the server list
                  serverListDiv.appendChild(guildButton);

                }

              }

            }

          }

        }, 1000);
      }
    </script>
  </head>
  <body>
    <section id="step-one">
      First...
      <button onclick="authorize(0)">Sign in to Discord</button>
    </section>
    <section id="step-two">
      Now,
      <button onclick="authorize(1)">Sign in to Twitter</button>
    </section>
    <section id="step-three">
      Finally,
      <div id="server-list">

      </div>
    </section>
  </body>
</html>